---
---
.reveal .slides section .fragment.highlight-current-orange.current-fragment {
  color: orange;
}

code {
  padding: 5px;
  pre > & {
    padding: 16px;
  }
}


.reveal section img {
  &.plain {
    background: transparent;
  }
  &.light {
    background:white;
    border-color: white;
  }
}

.reveal section .small {
  font-size: 0.67em;
  color: #999;
}
